<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main class="favoritos">
        <div class="favorito">
            <div class="favorito-img">
                <img src="https://avatars3.githubusercontent.com/u/24649983?v=4" alt="Imagem do usuário">
            </div>
            <div class="favorito-nome">
                Gabriel-Severo
            </div>
            <div class="favorito-linguagem">
                Javascript
            </div>
        </div>
    </main>
</body>
</html>