<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    {% include "menu.html" %}
    <main class="favoritos">
        {% for favorito in favoritos %}
        <div class="favorito">
            <div class="favorito-img">
                <img src="{{favorito.image}}" alt="Imagem do usuário">
            </div>
            <div class="favorito-nome">
                {{favorito.name}}
            </div>
            <div class="favorito-linguagem">
                {{favorito.language}}
            </div>
        </div>
        {% endfor %}
    </main>
    <script src="redirecionar.js"></script>
</body>
</html>