<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Githome</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    {% include "menu.html" %}
    <main class="inicio">
        <h2>Busque por um usuário no github</h2>
        <section class="formulario">
            <form action="/repositorios" method="GET">
                <input type="text" name="usuario" id="usuario" placeholder="Nome">
                <button type="submit">Buscar</button>
            </form>
        </section>
    </main>
</body>
</html>