<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repositórios</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    {% include "menu.html" %}
    <main class="user">
        <section class="user-info">
            <button class="{{liked}}" onclick="like()">
                <i class="far fa-star"></i>
            </button>
            <div class="user-img">
                <img class="img" src="{{userInfo.avatar_url}}" alt="Imagem do usuário">
            </div>
            <div class="user-infos">
                <strong class="user-name">{{userInfo.name}}</strong>
                <p class="user-tag">{{userInfo.login}}</p>
                <p>Repositórios: {{userInfo.public_repos}}</p>
                <p class="linguagem">Linguagem mais usada: {{linguagemUsada}}</p>
            </div>
        </section>
        <section class="user-repositories">
            <h2>Repositórios de {{userInfo.login}}</h2>
            <div class="repositories">
                <ul>
                    {% for repository in repositories %}
                    <li>
                        <a href="{{repository.html_url}}" target="__blank">{{repository.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </main>
    <script src="like.js"></script>
</body>
</html>